.greeting-c{
    text-align: start;
    margin: 0 20px;
}
.greeting-c>.brand{
    margin: 40px 0;
    margin-bottom: 120px;
}
.greeting-c>.brand>.time-range{
    font-size: 20px;
    text-align: end;
}
.greeting-c>.brand>.title{
    margin-block-start: 10px;
    font-family: DigitaltsPlum, Punkrockshow;
    font-size: 62px;
    width: 85%;
}
.greeting-c>.msg{
    font-size: 20px;
    width: 50%;
    color: #484848;
}
@media screen and (max-aspect-ratio: 6/10) {
    .greeting-c>.msg{
        font-size: 30px;
    }
    .greeting-c>.brand>.time-range{
        font-size: 30px;
    }
}