.price-c{
    margin-top: -2%;
    position: relative;
    text-align: start;
}
.price-c>.title{
    position: relative;
    text-align: center;
}
.price-c>.title>h1 {
    margin-bottom: 12%;
    padding: 3%;
    position: relative;
    z-index: 1;
}
.price-c>.spheres>.img{
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 60%;
}
.price-c>.spheres {
    position: relative;
}
.price-c>.spheres>.max, .price-c>.spheres>.mid, .price-c>.spheres>.min{
    position: absolute;
}
.price-c>.spheres>.max{
    top: -15%;
    left: 20%;
}
.price-c>.spheres>.mid{
    top: 30%;
    right: 30%;
}
.price-c>.spheres>.min{
    bottom: 20%;
    left: 0%;
}
.price-c>.spheres>.mid .sphere-sm, .price-c>.spheres>.mid .sphere-md{
    background-color: whitesmoke;
    color: #383838;
}
.price-c>.btn{
    position: absolute;
    right: 100px;
    bottom: 13%;
    text-decoration: none;
    padding: 10px 40px;
    background-color: white;
    border: solid 0.5px rgb(160, 160, 160);
    box-shadow: inset 0 0 5px gray;
    border-radius: 5px;
    color: #383838;
}
.price-c>.btn:hover{
    background-color: #363636;
    color: white;
}
.price-c>.space{
    width: 100%;
    height: 200px;
    margin-bottom: 150px;
}
@media screen and (min-aspect-ratio: 10/6) {
    
}