.webinar-p{
    position: relative;
}
.webinar-p>.header-space{
    height: 70px;
}
.webinar-p>.schedule{
}
.webinar-p>.schedule *{
    color: #363636;
}
.webinar-p>.img{
    width: 100%;
    height: 55vw;
    background-position: left;
}
.webinar-p>.leave-comment{
    position: absolute;
    bottom: 50px;
}
.webinar-p>.footer-space{
    height: 20vw;
    width: 100%;
}
@media screen and (max-aspect-ratio: 1/1) {
    .webinar-p>.header-space{
        height: 78px;
    }
}
@media screen and (max-aspect-ratio: 7/10) {
    .webinar-p>.header-space{
        height: 110px;
    }
}