.links-c {
    padding: 40px 0;
    position: relative;
}
.links-c>.box-green {
    position: absolute;
    top: 2%;
    right: 10%;
    width: 55%; 
    height: 65%;
}
.links-c>h1 {
    margin: 0;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    color: #363636;
    text-align: center;
}
.links-c>.links{
    width: 100%;
    padding-inline-start: unset;
    padding: 0 2%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style: none;
}
.links-c>.links>li {
    overflow: hidden;
    width: 22%;
    border-radius: 5px;
    padding-bottom: 40px;
    display: inline-block;
    box-shadow: 0 10px 3px rgb(0,0,0,40%);
}
.links-c>.links>li, .links-c>.links>li>.link {
    position: relative;
}
.links-c>.links>li>.link>* {
    color: #e5e5e5;
    text-decoration: none;
}
.links-c>.links>li>.link>h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 600;
    font-size: .9em;
}
.links-c>.links>li>.link>p {
    font-size: .8em;
}
.links-c>.links>li>.link * {
    margin: 3px 10px;
    text-align: start;
}
.links-c>.links>li>.link>.img {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-color: white;
    margin: 0;
}
.links-c>.links>.btn-left {
    display: none;
}
.links-c>.links>.btn-right {
    display: none;
}
@media screen and (max-width: 835px) {
    .links-c>.links>li {
        width: 30%;
    }
    .links-c>.links>.btn-left, .links-c>.links>.btn-right  {
        display: block;
        height: fit-content;
        margin: auto 0;
    }
    .links-c>.links>li:nth-of-type(4) {
        display: none;
    }
}
@media screen and (max-width: 736px) {
    .links-c>.box-green {
        width: 50%;
    }
    .links-c>.links>li {
        width: 42%;
    }
    .links-c>.links>li:nth-of-type(3) {
        display: none;
    }
}
@media screen and (max-width: 497px) {
    .links-c>.box-green {
        width: 60%;
        right: 0;
    }
    .links-c>.links>li {
        width: 40%;
        font-size: 20px;
    }
}
@media screen and (max-width: 310px) {
    .links-c>.links>li {
        margin: auto;
        width: 80%;
    }
    .links-c>.links>li:nth-of-type(2) {
        display: none;
    }
}
