.checkout-p{
    position: relative;
}
.checkout-p>.header-space{
    height: 80px;
}
.checkout-p>.header{
    margin: 40px 80px 0px 40px;
}
.checkout-p>.header>.title{
    text-align: end;
}
.checkout-p>.header>.msg{
    text-align: start;
    color: #363636;
}