.payment-s{
    width: 100%;
    position: relative;
}
.payment-s>.space{
    width: 100%;
    height: 30vw;
}
.payment-s>.msg{
    position: absolute;
    right: 3%;
    top: 0;
}
.payment-s>.blackbox{
    background-color: #363636;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    padding: 30px 30px 0 30px;
    top: 15vw;
    left: 3%;
    color: #fefefe;
    text-align: start;
}
.payment-s>.msg .price{
}
.payment-s>.img{
    background-size: cover;
    width: 100%;
    height: 40vw;
}
.payment-s>.msg>.btn{
    right: 100px;
    bottom: 13%;
    padding: 10px 40px;
    background-color: white;
    border: solid 0.5px rgb(160, 160, 160);
    box-shadow: inset 0 0 5px gray;
    border-radius: 5px;
    color: #383838;
}
.payment-s>.msg>.btn:hover{
    background-color: #363636;
    color: white;
}