.description-mission-s {
    position: relative;
}
.description-mission-s > .start-msg, .description-mission-s > .end-msg {
    margin: 90px 0;
    text-align: center;
}
.description-mission-s > .bg-box, .description-mission-s > .img{
    position: absolute;
}
.description-mission-s > .bg-box {
    width: 76%;
    height: 46%;
    top: 50%;
    left: 0;
    transform: translateY(-60%)
}
.description-mission-s > .img {
    width: 66%;
    height: 44%;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
}
.description-mission-s > .text-boxes {
    width: 56%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.description-mission-s > .text-boxes > .description {
    width: 96%;
    text-align: center;
    margin-bottom: 10%;
}
.description-mission-s > .text-boxes > .dialog {
    width: 84%;
}

@media screen and (min-aspect-ratio: 912/1368) {
    .description-mission-s > .start-msg, .description-mission-s > .end-msg {
        margin: 50px 0;
    }
    .description-mission-s > .start-msg {
        text-align: end;
    }
    .description-mission-s > .end-msg {
        text-align: start;
    }
}


.description-vision-s {
    position: relative;
}
.description-vision-s > .bg-box, .description-vision-s > .img {
    position: absolute;
}
.description-vision-s > .bg-box {
    width: 80%;
    height: 30%;
    top: 0;
    right: 0;
}
.description-vision-s > .img {
    width: 83%;
    height: 66%;
    left: 1%;
    bottom: 0;
}
.description-vision-s > .text-boxes {
    padding: 70px 0 24px 0;
}
.description-vision-s > .text-boxes > .description {
    width: 60%;
    margin: 0 120px 40px auto;
    text-align: center;
}
.description-vision-s > .text-boxes > .dialog {
    width: 46%;
    margin: 0 25px 0 auto;
}
.description-vision-s > .end-msg {

}