.module-s {
    width: 100%;
    margin-bottom: 8%;
    position: relative;
}
.module-s>.line-white {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.module-s>.line-white {
    left: 0;
}
.module-s>.card-module {
    width: 88%;
    margin-left: 30px;
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 18px;
    position: relative;
    background-color: white;
    box-shadow: 0 5px 5px rgb(0, 0, 0, .4);
}
.module-s>.card-module>h1 {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
}
.module-s>.card-module>hr {
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
}
.module-s>.card-module>.options {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.module-s>.card-module>.options>button {
    margin: 0 10px;
}
.module-s>.card-module>.options>.btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-aspect-ratio: 1/1) {
    .module-s {
        margin: 0 0 5% 0;
    }
    .module-s>.card-module {
        width: 71%;
        margin-left: 3.5%;
        border-radius: 5px;
        padding: 14px;
        padding-bottom: 8px;
        position: relative;
        background-color: white;
    }
    .module-s>.card-module>h1 {
        font-size: 1em;
    }
    .module-s>.card-module>hr {
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .module-s>.card-module>.options>button {
        margin: 0 5px;
    }
    .module-s>.card-module>.options * {
        font-size: 16px;
    }
}
@media screen and (max-width:656px) {
    .module-s>.card-module {
        width: 80%;
        padding: 6px 6px 4px 6px;
    }
    .module-s>.card-module>h1 {
        font-size: 20px;
    }   
    .module-s>.card-module>hr {
        margin-top: 4px;
        margin-bottom: 14px;
    }    
    .module-s>.card-module>.options * {
        font-size: 14px;
    }
}