.webinars-s{
    width: 100%;
    color: #363636;
    padding-top: 8%;
    padding-bottom: 3%;
}
.webinars-s > p {
    padding: 3% 10%;
    text-align: center;
}
.webinars-s>.article{
    width: 100%;
    padding-top: 1px;
    padding-bottom: 60px;
    position: relative;
    background-color: #EFEFEF;
}
.webinars-s>.article>.title>h1 {
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #bb6d00;
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}
.webinars-s>.article>.title>h1:hover {
    text-decoration: underline;
}
.webinars-s > .article >.pharagraph-left, .webinars-s > div >.pharagraph-right {
    margin: 0;
    padding: 2% 4%;
}
.webinars-s > .article >.pharagraph-left {
    text-align: start;
}
.webinars-s > .article >.pharagraph-right {
    text-align: end;
}
.webinars-s > .article >  .black-line {
    width: 100%;
    padding-top: 21%;
    position: relative;
    background-color: #252525;
}
.webinars-s > .article >  .black-line > .frame-right, .webinars-s > .article > .black-line > .frame-left, .webinars-s > .article > .black-line > .frame-center {
    position: absolute;
}
.webinars-s > .article > .black-line > .frame-left {
    width: 52%;
    top: -60px;
    left: 0;
}
.webinars-s > .article > .black-line > .frame-center {
    width: 14%;
    top: 52%;
    left: 45%;
    transform: translateY(-50%);
}
.webinars-s > .article >  .black-line > .frame-right {
    width: 45%;
    bottom: -65px;
    right: 0;
}
.webinars-s > .article > .black-line > .frame-right > .img-right, .webinars-s > .article > .black-line > .frame-left > .img-left {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}
.webinars-s > .article > .black-line > .frame-right > .img-right {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 48%;
    background-image: url('./webinar-1.jpg');
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.712);
    animation: home_workshop-s_img 5s infinite alternate-reverse linear;
}
.webinars-s > .article > .black-line > .frame-center > .white {
    border-radius: 5px;
    padding-top: 130%;
    background-color: white;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.712);
}
.webinars-s > .article > .black-line > .frame-left > .img-left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 45%;
    background-image: url('./webinar-2.jpg');
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.644);
    animation: home_workshop-s_img 5s infinite alternate linear;
}
@keyframes home_workshop-s_img {
    0% {
        background-image: url('./webinar-2.jpg');
    }
    100% {
        background-image: url('./webinar-1.jpg');
    }
}
.webinars-s>.article>.link{
    width: 50%;
    margin-top: 2%;
    margin-left: auto;
    display: block;
    text-align: center;
}
@media screen and (max-aspect-ratio: 1/1) {
    .webinars-s {
        padding-top: 10%;
    }
    .webinars-s > p {
        padding: 1% 2%;
        padding-bottom: 10%;
    }
    .webinars-s>.article{
        padding-top: 3%;
    }
    .webinars-s>.article>.title>h1 {
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .webinars-s > .article >.pharagraph-left {
        margin-top: 5%;
    }
    .webinars-s > .article >  .black-line {
        margin-top: 100px;
        padding-top: 30%;
    }
    .webinars-s > .article > .black-line > .frame-left {
        width: 60%;
        top: -140px;
    }
    .webinars-s > .article > .black-line > .frame-center {
        width: 20%;
        left: 50%;
    }
    .webinars-s > .article > .black-line > .frame-right {
        width: 45%;
        bottom: -100px;
    }
    .webinars-s > .article > .black-line > .frame-right > .img-right {
        padding-top: 65%;
    }
    .webinars-s > .article > .black-line > .frame-center > .white {
        padding-top: 120%;
    }
    .webinars-s > .article > .black-line > .frame-left > .img-left {
        padding-top: 65%;
    }
    .webinars-s>.article>.link{
        margin-top: 5%;
    }
}
@media screen and (max-width: 660px) {  
    .webinars-s > .article >.pharagraph-right {
        margin-left: 50%;
    }
    .webinars-s > .article >.pharagraph-left {
        margin-right: 50%;
    }
}
@media screen and (max-width: 450px) {  
    .webinars-s>.article {
        padding-bottom: 20px;
    }      
    .webinars-s>.article>.title>h1 {
        margin-bottom: 0;
        text-align: left;
    }
    .webinars-s > .article >.pharagraph-left, .webinars-s > .article >.pharagraph-right {
        margin-left: unset;
        margin-right: unset;
        white-space: nowrap;
    }
    .webinars-s > .article > .black-line {
        margin: 80px 0;
        padding-top: 46%;
    }    
    .webinars-s > .article > .black-line > .frame-left {
        width: 70%;
        top: unset;
        bottom: 42%;
    }
    .webinars-s > .article > .black-line > .frame-center {
        width: 33%;
        left: 42%;
    }
    .webinars-s > .article > .black-line > .frame-right {
        width: 54%;
        top: 66%;
        bottom: unset;
    }
}
