.links-c {
    padding: 40px 0;
    position: relative;
}
.links-c>h1 {
    position: relative;
    z-index: 1;
    text-decoration: underline;
    text-align: center;
    font-weight: 500;
    font-size: 51px;
    color: #363636;
}
.links-c>.links{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    padding-inline-start: unset;
    list-style: none;
}
.links-c>.links>li {
    overflow: hidden;
    width: 24%;
    border-radius: 5px;
    padding-bottom: 40px;
    background-color: #363636;
    box-shadow: 0 10px 3px rgb(0,0,0,40%);
}
.links-c>.links>li>.link {
    color: #e5e5e5;
    text-decoration: none;
}
.links-c>.links>li>.link>h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.links-c>.links>li>.link * {
    margin: 3px 10px;
    text-align: start;
}
.links-c>.links>li>.link>.img {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-color: white;
    margin: 0;
}
@media screen and (max-aspect-ratio: 6/10) {
    .links-c {
        font-size: 28px;
    }
}