.links-c {
    padding: 40px 0;
    position: relative;
}
.links-c>h1 {
    margin: 0;
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    color: #363636;
    text-align: center;
}
.links-c>.links{
    width: 100%;
    padding-inline-start: unset;
    padding: 0 2%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.links-c>.links>li {
    overflow: hidden;
    width: 22%;
    border-radius: 5px;
    padding-bottom: 40px;
    display: inline-block;
    background-color: #363636;
    box-shadow: 0 10px 3px rgb(0,0,0,40%);
}
.links-c>.links>li>.link>* {
    color: #e5e5e5;
    text-decoration: none;
    font-size: 20px;
}
.links-c>.links>li>.link>h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 26px;
    font-weight: 600;
}
.links-c>.links>li>.link * {
    margin: 3px 10px;
    text-align: start;
}
.links-c>.links>li>.link>.img {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-color: white;
    margin: 0;
}
@media screen and (max-aspect-ratio: 7/10) {
    .links-c>.links>li>.link>h3 {
        font-size: 32px;
    }
    .links-c>.links>li {
        width: 30%;
    }
    .links-c>.links>li>.link {
        font-size: 28px;
    }
    .links-c>.links>li:last-child {
        display: none;
    }
}