.webinars-s{
    font-size: 24px;
}
.webinars-s, .webinars-s>.white, .webinars-s>.gray{
    width: 100%;
    position: relative;
    height: 70vw;
}
.webinars-s>.white{
    height: 30vw;
    background-color: white;
}
.webinars-s>.gray{
    height: 40vw;
    background-color: #c4c4c4;
}
.webinars-s>.article>.title{
    color: black;
    z-index: 1;
    position: absolute;
    top: 0%;
    right: 5%; 
}
.webinars-s>.article>.top-divisor, .webinars-s>.article>.bottom-divisor{
    position: absolute;
    width: 40px;
    height: 30vw;
    right: 25%;
    top: 0%;
    background-color: white;
}
.webinars-s>.article>.bottom-divisor{
    top: 30vw;
    height: 40vw;
    background-color: #C4C4C4;
}
.webinars-s>.article{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
}
.webinars-s>.article>.img{
    background-image: url('../img/circle/complete_inside.jpg');
    background-size: cover;
    height: 45vw;
    width: 90%;
    margin: 15% 5% 0 5%;
    border-radius: 20px;
}
.webinars-s>.article>.link{
    color: black;
    text-align: end;
    z-index: 1;
    position: absolute;
    bottom: -12vw;
    right: 2%;
}
.webinars-s>.article>.link *{
    margin: 0;
}