.description-mission-s {
    position: relative;
}
.description-mission-s > .start-msg, .description-mission-s > .end-msg {
    margin: 60px 0;
    text-align: center;
}
.description-mission-s > .end-msg {
    margin-top: 80px;
    margin-bottom: 80px;
}
.description-mission-s > .bg-box, .description-mission-s > .img {
    position: absolute;
}
.description-mission-s > .bg-box {
    width: 36%;
    height: 40%;
    top: 36%;
    left: 0;
}
.description-mission-s > .img {
    width: 46%;
    right: 0%;
    top: 80px;
}
.description-mission-s > .text-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 6%;
}
.description-mission-s > .text-boxes > .description {
    max-width: 460px;
    width: 46%;
    text-align: center;
    margin-top: 50px;
}
.description-mission-s > .text-boxes > .dialog {
    width: 50%;
    margin-top: 20%;
}
@media screen and (min-width:1000px) {
    .description-mission-s > .bg-box {
        top: 20%;
        height: 50%;
    }
    .description-mission-s > .text-boxes {
        flex-direction: column;
    }
    .description-mission-s > .text-boxes > .description {
        margin-top: 0;
    }
    .description-mission-s > .text-boxes > .dialog {
        width: 46%;
        margin-top: 4%;
    }
    .description-mission-s > .img {
        right: unset;
        left: 48%;
        top: 50%;
        transform: translateY(-54%);
    }
}
@media screen and (max-width:790px) {
    .description-mission-s > .start-msg, .description-mission-s > .end-msg {
        margin: 90px 0;
        text-align: center;
    }
    .description-mission-s > .bg-box {
        top: 50%;
        transform: translateY(-60%);
        width: 76%;
        height: 46%;
    }
    .description-mission-s > .img {
        width: 60%;
        top: 50%;
        right: 0;
        transform: translateY(-40%);
    }
    .description-mission-s > .text-boxes {
        padding: unset;
        flex-direction: row-reverse;
        width: 56%;
    }
    .description-mission-s > .text-boxes > .description {
        width: 96%;
        margin-top: unset;
        margin-bottom: 10%;
    }
    .description-mission-s > .text-boxes > .dialog {
        width: 84%;
        margin-top: unset;
    }
}
@media screen and (max-width:630px) {
    .description-mission-s > .end-msg {
        margin: 60px 0 40px 0;
    }
    .description-mission-s > .img {
        width: 70%;
    }
}
@media screen and (max-width:570px) {
    .description-mission-s > .text-boxes {
        width: 60%;
    }    
    .description-mission-s > .img {
        width: 76%;
        height: unset;
    }
    .description-mission-s > .text-boxes > .description {
        margin-bottom: 100px;
    }
}
@media screen and (max-width:530px) {
    .description-mission-s > .text-boxes {
        width: 80%;
    }    
    .description-mission-s > .bg-box {
        top: unset;
        bottom: -5%;
        width: 90%;
    }
    .description-mission-s > .img {
        top: 44%;
        width: 84%;
        height: unset;
    }
    .description-mission-s > .text-boxes > .description {
        margin-bottom: 140px;
    }    
    .description-mission-s > .text-boxes > .dialog {
        margin-right: auto;
        margin-left: 4%;
    }

}
@media screen and (max-width:470px) {
    .description-mission-s > .start-msg, .description-mission-s > .end-msg {
        margin: 50px 0;
    }
    .description-mission-s > .start-msg {
        margin-bottom: 70px;
    }
    .description-mission-s > .text-boxes {
        width: 86%;
    }     
    .description-mission-s > .bg-box {
        width: 94%;
    }
    .description-mission-s > .img {
        top:50%;
        width: 86%;
    }
    .description-mission-s > .text-boxes > .description div, .description-mission-s > .text-boxes > .dialog div{
        font-size: 20px;
    }
    .description-mission-s > .text-boxes > .description {
        width: 98%;
    }    
    .description-mission-s > .text-boxes > .dialog {
        margin-right: auto;
        margin-left: 2%;
    }
}
@media screen and (max-width:430px) {
    .description-mission-s > .bg-box {
        top: 90px;
        bottom: unset;
        transform: unset;
        width: 50%;
    }
    .description-mission-s > .text-boxes {
        width: 92%;
    }    
}
@media screen and (max-width:415px) {
    .description-mission-s > .text-boxes {
        width: 98%;
    }
}
@media screen and (max-width:380px) { 
    .description-mission-s > .text-boxes > .dialog {
        width: 98%;
    }
}
@media screen and (max-width:360px) {
    .description-mission-s > .img {
        width: 100%;
    }
}
@media screen and (max-width:320px) {
    .description-mission-s > .bg-box {
        top: 110px;
    }
}


.description-vision-s {
    position: relative;
}
.description-vision-s > .bg-box, .description-vision-s > .img {
    position: absolute;
}
.description-vision-s > .bg-box {
    width: 30%;
    height: 90%;
    top: 0;
    right: 0;
}
.description-vision-s > .img {
    max-width: 560px;
    width: 60%;
    left: 5%;
}
.description-vision-s > .text-boxes {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 50px 0 24px 0;
    margin-bottom: 100px;
}
.description-vision-s > .text-boxes > .description {
    max-width: 440px;
    width: 50%;
    margin: 0 auto 0 auto;
    text-align: center;
}
.description-vision-s > .text-boxes > .dialog {
    max-width: 380px;
    width: 44%;
    margin-top: 30%;
    margin-left: auto;
    margin-bottom: 40px;
}
@media screen and (min-width:900px) {
    .description-vision-s > .text-boxes {
        flex-direction: column;
        padding-left: 40%;
    }
    .description-vision-s > .text-boxes > .description {
        width: 100%;
        margin: 0 10vw 0 auto;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 100%;
        margin: 40px 10vw 0 auto;
    }
}

@media screen and (max-width:800px) {
    .description-vision-s > .bg-box {
        width: 80%;
        height: 30%;
    }
    .description-vision-s > .img {
        width: 83%;
        height: 70%;
        bottom: -4%;
        left: 1%;
    }
    .description-vision-s > .text-boxes {
        display: block;
        padding: 60px 0 24px 0;
    }
    .description-vision-s > .text-boxes > .description {
        width: 60%;
        margin: 0 12% 40px auto;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 46%;
        margin: 0 25px 0 auto;
    }
}
@media screen and (max-width:630px) {
    .description-vision-s > .bg-box {
        width: 90%;
    }
    .description-vision-s > .img {
        width: 86%;
        height: unset;
    }
    .description-vision-s > .text-boxes {
        padding: 40px 0 24px 0;
        margin-bottom: 100px;
    }
    .description-vision-s > .text-boxes > .description {
        width: 70%;
        margin: 0 4% 60px auto;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 52%;
        margin: 0 9% 0 auto;
    }
}
@media screen and (max-width:530px) {
    .description-vision-s > .bg-box {
        width: 50%;
        height: 52%;
    }
    .description-vision-s > .text-boxes {
        padding: 40px 0 24px 0;
        margin-bottom: 100px;
    }
    .description-vision-s > .text-boxes > .description div, .description-vision-s > .text-boxes > .dialog div{
        font-size: 20px;
    }
    .description-vision-s > .text-boxes > .description {
        width: 90%;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 60%;
        margin: 0 4% 0 auto;
    }
}
@media screen and (max-width:480px) {
    .description-vision-s > .img {
        top: 30%;
    }
    .description-vision-s > .text-boxes {
        margin-bottom: 40px;
    }
    .description-vision-s > .text-boxes > .description {
        width: 94%;
        margin: 0 2% 100px 2%;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 70%;
        margin: 0 4% 0 auto;
    }
}
@media screen and (max-width:400px) {
    .description-vision-s > .img {
        top: 40%;
    }
    .description-vision-s > .text-boxes > .description {
        margin-bottom: 130px;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 80%;
    }
}
@media screen and (max-width:340px) {
    .description-vision-s > .img {
        width: 100%;
    }
    .description-vision-s > .bg-box {
        height: 60%;
    }
    .description-vision-s > .text-boxes > .description {
        width: 96%;
    }
    .description-vision-s > .text-boxes > .dialog {
        width: 96%;
        margin: 0 2% 0 auto;
    }
}