.about-us-s > .short-img {
    display: initial;
}
.about-us-s > .long-img {
    display: none;
    overflow: hidden;
    position: relative;
}
.about-us-s > .info {
    margin-top: 30px;
}
@media screen and (min-width: 700px) {
    .about-us-s > .short-img {
        display: none;
    }
    .about-us-s > .long-img {
        display: block;
        max-height: 400px;
        height: 50vh;
    }
}
@media screen and (min-aspect-ratio: 1) {
    .about-us-s > .long-img {
        max-height: unset;
        min-height: 500px;
    }
    
}