.projects-s {
    position: relative;
    width: 100%;
    color: #363636;
    margin-bottom: 14vmax;
}
.projects-s > p {
    padding: 8% 10%;
    text-align: center;
}
.projects-s > div {
    position: relative;
    padding-top: 1px;
}
.projects-s > .frame-green,  .projects-s > div > a > .title, .projects-s > div >.pharagraph-left{
    max-width: 330px;
    width: 50%;
}
.projects-s > .frame-green {
    position: absolute;
    height: 74%;
}
.projects-s > .frame-brown {
    position: absolute;
    top: 56%;
    width: 100%;
    height: 9vh;
}
.projects-s > div >.pharagraph-left, .projects-s > div >.pharagraph-right, .projects-s > div > .frame-right, .projects-s > div > .frame-left, .projects-s > div > a {
    position: relative;
    z-index: 1;
}
.projects-s > div > a > .title {
    margin: 20px 0 0 0;
    text-align: center;
    font-weight: bold;
    color: #bb6d00;
    text-shadow: 1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;
}
.projects-s > div > a > .title:hover {
    text-decoration: underline;
}
.projects-s > div >.pharagraph-left, .projects-s > div >.pharagraph-right {
    margin: 0;
    display: inline-block;
}
.projects-s > div >.pharagraph-left {
    padding: 0 4% 2% 4%;
    text-align: center;
}
.projects-s > div >.pharagraph-right {
    width: 64%;
    padding: 2% 4%;
    text-align: end;    
}
.projects-s > div >  .frame-right {
    width: 55%;
    float: right;
}
.projects-s > div > .frame-left {
    width: 36%;
    float: left;
}
.projects-s > div > .frame-right > .img-right, .projects-s > div > .frame-left > .img-left {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
}
.projects-s > div > .frame-right > .img-right {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 40%;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.644);
} 
.projects-s > div > .frame-left > .img-left {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 80%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.712);
}
.projects-s > div > .link {
    width: 50%;
    margin-left: auto;
    display: block;
    text-align: center;
}
@media screen and (min-aspect-ratio: 1.3/1) {
    .projects-s {
        min-height: 480px;
    }
    .projects-s > p {
        display: flex;
        align-items: center;
        height: calc(16vw + 3em);
        padding: 0 10%;
        text-align: center;
    }
    .projects-s > div > a > .title, .projects-s > div >.pharagraph-left, .projects-s > div >.pharagraph-right {
        transform: translateX(-70%);
        margin-left: 50%;
        margin-right: auto;
        padding: 0;
        text-align: start;
    }
    .projects-s > .frame-green {
        right: 30%;
        max-width: unset;
        min-width: 330px;
        width: 40%;
        max-height: 320px;
        height: 60%;
    }
    .projects-s > div >.pharagraph-left, .projects-s > div >.pharagraph-right, .projects-s > div > a > .title, .projects-s > .frame-brown {
        width: 240px;
    }
    .projects-s > div >.pharagraph-left {
        display: block;
        margin-top: 20px;
    }
    .projects-s > .frame-brown {
        top: calc(16vw + 3em + 160px);
        left: 50%;
        transform: translateX(-70%);
        overflow: hidden;
        height: 10px;
    }
    .projects-s > div >.pharagraph-right {
        position: absolute;
        top: 190px;
    }
    .projects-s > div >  .frame-right {
        margin-top: -156px;
    }
    .projects-s > div >  .frame-right, .projects-s > div > .link {
        margin-right: 2%;
        width: 38%;
    }
    .projects-s > div > .frame-left {
        float: none;
        max-width: 300px;
        width: 26%;
        margin-top: -150px;
        margin-left: 2%;
    }
    .projects-s > div > .frame-right > .img-right {
        box-shadow: 0 0 6px #000000a8;
    }
    .projects-s > div > .frame-left > .img-left {
        height: 28vw;
        max-height: 350px;
        background-position-y: bottom;
    }
    .projects-s > div > .frame-right > .img-right {
        height: 19.4vw;
        padding: unset;
        background-position-y: top;
    }
    .projects-s > div > .link {
        display: flex;
        position: absolute;
        top: calc(20vw - 10px + 20px);
        right: 0;
    }
    @media (min-width: 1400px) {
        .projects-s > div >  .frame-right {
            margin-right: 5%;
            width: 35%;
        }
        .projects-s > div > .frame-left {
            max-width: 400px;
            width: 23%;
            margin-left: 5%;
        }
    }
    @media (min-width: 1536px) {
        .projects-s > .frame-green {
            max-height: 410px;
            height: 53%;
        }
        .projects-s > .frame-brown, .projects-s > div > a > .title, .projects-s > div >.pharagraph-right, .projects-s > div >.pharagraph-left {
            width: 300px;
            margin-top: 3vh;
        }
        .projects-s > .frame-brown {
            top: calc(17.6vw + 4em + 120px);
        }
        .projects-s > div > .pharagraph-right {
            top: 220px;
        }
        .projects-s > div >  .frame-right {
            margin-top: calc(-140px - 8.4vh);
        }
        .projects-s > div > .frame-left {
            margin-top: calc(-120px - 8.4vh);
        }
        .projects-s > div > .frame-left > .img-left {
            max-height: 480px;
            height: 27vw;
        }
        .projects-s > div > .link {
            top: calc(20vw - 30px + 20px);
        }
    }
    @media (max-width: 1100px) {
        .projects-s > div > .frame-left, .projects-s > div > .frame-right {
            margin-top: -134px;
        }
        .projects-s > div > .link {
            top: calc(20vw + 10px + 20px);
        }
    }
}
@media screen and (max-aspect-ratio: 1.3/1) {
    .projects-s > p {
        padding: 12% 2%;
    }
    .projects-s > div >.pharagraph-left {
        margin-top: 5%;
    }
    .projects-s > div > .frame-right > .img-right {
        margin-bottom: 50px;
        padding-top: 75%;
    } .projects-s > div > .frame-left > .img-left {
        margin-top: 20px;
        padding-top: 124%;
    }
    .projects-s > div > .link {
        margin-top: 5%;
    }
}
@media screen and (max-width: 534px) {
    .projects-s {
        padding-bottom: 0px;
    }    
    .projects-s > p {
        padding: 12% 2%;
    }
    .projects-s > .frame-green {
        height: 82%;
    }
    .projects-s > div > a > .title {
        margin-bottom: 30px;
        margin-left: 4%;
        text-align: start;
    }
    .projects-s > div >.pharagraph-left {
        width: 100%;
        margin-top: 0;
        text-align: start;
    }
    .projects-s > div > .frame-right {
        width: 76%;
    }
    .projects-s > div > .frame-right > .img-right {
        margin-top: 20px;
        margin-bottom: 0;
    }
    .projects-s > div > .frame-left {
        width: 44%;
    } 
    .projects-s > div > .frame-left > .img-left {
        margin-top: 20px;
    }
    .projects-s > div >.pharagraph-right {
        width: 56%;
        margin-top: 40px;
        margin-bottom: 10px;
        padding: 2% 4%;
        text-align: end;
    }
}
@media screen and (max-width: 350px) {  
    .projects-s > div >.pharagraph-right {
        width: 56%;
        margin-top: 14px;
        padding: 2% 4%;
        text-align: end;
    }
}