.modal-videos-c-s {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 15, 15);
}
.modal-videos-c-s > .viewer {
    width: 64%;
    height: 100%;
}
.modal-videos-c-s > .close {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(64% - 30px);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 40px;
    color: black;
    background-color: crimson;
    text-shadow: -1px -1px gray;
}
.modal-videos-c-s > .carousel {
    overflow: auto;
    width: 36%;
    height: 100%;
    background-color: black;
}
.modal-videos-c-s > .carousel> .card {
    box-sizing: content-box;
    position: relative;
    width: 100%;
    height: fit-content;
}
.modal-videos-c-s > .carousel> .card > .video, .modal-videos-c-s > .carousel > .card > .remaining  {
    box-sizing: content-box;
    max-width: 260px;
    width: 80%;
    max-height: 180px;
    height: 30vh;
    margin: auto;
    padding: 5px 0;
}
.modal-videos-c-s > .carousel > .card > .video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.modal-videos-c-s > .carousel > .card > .video.active{
    position: fixed;
    top:5vh;
    left:6%;
    max-width: unset;
    max-height: unset;
    width: 52%;
    height: 80vh;
    transform: translate(0,0);

    animation: webinars-modal-view-move 2s alternate ;
}
.modal-videos-c-s > .carousel > .card > .remaining  {
    position: relative;
    transition: height .5s;
}
.modal-videos-c-s > .carousel > .card > .remaining.active  {
    height: 0;
}
@keyframes webinars-modal-view-move {
    0%{
        opacity:0.4;
    }
    100%{
        opacity:1;
    }
}