.header-c{
    width: 100%;
    padding: 0px 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 0.8em;
    background-color: rgba(255, 255, 255, 0.5);
}
.header-c svg{
    width: auto;
    height: 1.8em;
    margin: 0.3em 0;
}
.header-c > div {
    width: 100%;
    max-width: 450px;
    margin-top: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-c > div > a {
    color: #363636;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.header-c > div > a:hover {
    text-decoration: underline;
}

@media screen and (max-aspect-ratio: 1/1) {
    .header-c {
        border-radius: 20px 20px 0px 0px;
    }
    .header-c svg {
        height: 2em;
        margin: 0.5em 0;
    }
    .header-c > div {
        max-width: 550px;
    }
}
@media screen and (max-aspect-ratio: 7/10) {
    .header-c {
        font-size: 28px
    }
    .header-c > div {
        max-width: 650px;
    }
}