.blackBox-c{
    position: relative;
}
.blackBox-c>.text{
    background-color: #363636;
    border-radius: 10px;
    padding: 20px;
    color: #c8c8c8;
    font-size: 24px;
    text-align: start;
    position: absolute;
}