.webinars-c{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #363636;
    text-align: center;
    font-size: 14px;
}
.webinars-c>.webinar{
    filter: brightness(100%);
}
.webinars-c>.webinar>.title{
    color: whitesmoke;
    text-shadow: 1px 1px #363636, -1px -1px #363636;
}
.webinars-c>.webinar:hover{
    filter: brightness(130%);
    transform: scale(1.3, 1.3);
}
.webinars-c>.webinar>.img{
    width: 70px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    background-size: cover;
}
@media screen and (max-aspect-ratio: 1/1) {
    .webinars-c {
        font-size: 18px;
    }
    .webinars-c>.webinar>.img {
        width: 70px;
        height: 70px;
    }
}