.webinars-c{
    display: flex;
    justify-content: space-evenly;
    background-color: #363636;
    padding: 10px 10vw;
    padding-top: 20px;
}
.webinars-c>.webinar{
    color: whitesmoke;
    font-size: 14px;
}
.webinars-c>.webinar>.img{
    width: 60px;
    height: 70px;
    margin: auto;
    border-radius: 10px;
    background-size: cover;
}