.price-c {
    margin-top: -2%;
    position: relative;
    text-align: start;
}
.price-c>.title {
    position: relative;
    text-align: center;
}
.price-c>.title>.background {
    width: 70%;
    height: 100%;
    position: absolute;
}
.price-c>.title>h1 {
    margin-bottom: 12%;
    padding: 3%;
    position: relative;
    z-index: 1;
}
.price-c>.box-left, .price-c>.box-right, .price-c>.line-dark {
    position: absolute;
}
.price-c>.line-dark {
    height: 0.8em;
}
.price-c>.spheres>.img {
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 60%;
}
.price-c>.spheres {
    position: relative;
}
.price-c>.spheres>.max, .price-c>.spheres>.mid, .price-c>.spheres>.min{
    position: absolute;
}
.price-c>.spheres>.mid .sphere-md * {
    color: #383838;
}
.price-c>.btn-buy {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: white;
    color: #3A3A3A;
}
.price-c>.btn-buy>svg {
    margin-right: 0.6em;
}
.price-c>.btn-buy:hover {
    background-color: #363636;
    color: white;
}
.price-c>.btn-buy:hover>.svg {
    fill: white;
}
.price-c>.btn-modules {
    position: absolute;
}
.price-c>.btn-modules .box-c {   
    background-color: #fdffd2;
}
.price-c>.btn-modules * {
    color: rgb(36 36 36);
}
.price-c>.space{
    width: 100%;
    height: 400px;
}
@media screen and (max-aspect-ratio: 10/7) {
    .price-c>.title>.background {
        left: 30%;
    }
    .price-c>.box-left {
        width: 10%;
        height: 90%;
        top: 4em;
        left: 0;
    }
    .price-c>.box-right {
        width: 50%;
        height: 30%;
        bottom: 6%;
        right: 0;
    }
    .price-c>.line-dark {
        width: 70%;
        bottom: 17%; 
        right: 0;
    }
    .price-c>.spheres>.max{
        top: -10%;
        left: 20%;
    }
    .price-c>.spheres>.mid{
        top: 26%;
        right: 30%;
    }
    .price-c>.spheres>.min{
        bottom: 28%;
        left: 0%;
    }
    .price-c>.btn-buy {
        bottom: 14%;
        left: 50%;
        transform: translateX(-50%);
    }
    .price-c>.btn-modules {
        top: 56%;
        left: 46%;
    }
}
@media screen and (min-aspect-ratio: 10/7) {
    .price-c>.title>.background {
        right: 30%;
    }
    .price-c>.box-left {
        width: 24%;
        height: 40%;
        bottom: 14%;
        left: 0;
    }
    .price-c>.box-right {
        width: 50%;
        height: 44%;
        top: 50%;
        right: 0;
    }
    .price-c>.line-dark {
        width: 100%;
        bottom:20%;
        left: 0;
    }
    .price-c>.spheres{
        width: 60%;
        margin-left: 30%;
    }
    .price-c>.spheres>.img{
        padding-top: 56%;
    }
    .price-c>.spheres>.max{
        top: 4%;
        left: -26%;
    }
    .price-c>.spheres>.mid{
        top: 24%;
        left: 80%;
    }
    .price-c>.spheres>.min{
        bottom: 20%;
        left: 40%;
    }
    .price-c>.title>h1{
        margin-bottom: 2%;
        padding: 1%;
    }
    .price-c>.btn-buy{
        bottom: 16%;
        left: 10%;
    }
    .price-c>.btn-modules{
        bottom: 60%;
        left: 20%;
    }
    .price-c>.space{
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width:860px) {    
    .price-c>.spheres>.mid{
        right: 240px;
        left: unset;
    }
}
@media screen and (max-width:650px) {
    .price-c>.spheres>.mid{
        right: 40%;
    }
}
@media screen and (max-width:500px) {
    .price-c>.title>h1{
        margin-bottom: 28%;
    }    
    .price-c>.box-left{
        height: 74%;
    }
    .price-c>.box-right{
        bottom: 4%;
    }
    .price-c>.spheres>.img{
        padding-top: 120%;
    }
    .price-c>.spheres>.max{
        left: 16%;
        top: -13%;
    }
    .price-c>.spheres>.min{
        top: 46%;
        left: 4%;
    }
    .price-c>.btn-modules{
        top: 62%;
    }
    .price-c>.line-dark {
        width: 80%;
        bottom: 11%;
    }
    .price-c>.btn-buy{
        bottom: 8%;
    }
    .price-c>.space{
        height: 280px;
    }
}
@media screen and (max-width:370px) {
    .price-c>.title>h1{
        margin-bottom: 40%;
        text-align: end;
    }
    .price-c>.line-dark{
        width: 100%;
    }
    .price-c>.spheres>.img{
        padding-top: 150%;
    }
    .price-c>.spheres>.max{
        top: -18%;
        left: 10%;
    }    
    .price-c>.spheres>.mid{
        top: 20%;
        right: 50%;
    }
    .price-c>.spheres>.min{
        top: 52%;
        left: -2%;
    }
    .price-c>.btn-modules{
        top: 66%;
    }
    .price-c>.space{
        height: 200px;
    }
}