.modules-p {
    position: relative;
    width: 100%;
}
.modules-p::before {
    content: '';
    position: absolute;
    top: 14vmin;
    left: 2.5%;
    width: 95%;
    height: 100%;
    background-color: rgba(249, 249, 249, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.modules-p>.contents {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    margin-top: 100px;
}
.modules-p>.contents>.index-nav {
    width:26%;
    height: 100%;
}
.modules-p>.contents>.document {
    overflow-y: auto;
    width:48%;
    height: 100%;
}
.modules-p>.contents>.index-nav-mobile {
    display: none;
}
.modules-p>.pdf-viewer {
    position: absolute;
    top: 170px;
    left: 2.5%;
    width: 95%;
    height: 74%;
    padding-bottom: 40px;
    background-color: white;
}
.modules-p>.hide_pdf-viewer {
    position: absolute;
    top: 120px;
    right: 5vw;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    background-image: url('./water.jpg');
    color: white;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
    animation: showModalButtonMobileIndexer 1s;
}
.modules-p>.pdf-viewer>.bottom {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
}

@media screen and (max-aspect-ratio: 1/1) {
    .modules-p>.contents {
        height: 65vh;
        margin-top: 8vmin;
    }
    .modules-p>.pdf-viewer {
        top: 30vmin;
        height: 78%;
    }
    .modules-p>.hide_pdf-viewer {
        top: 23vmin;
    }
}

@media screen and (max-width: 850px) {
    .modules-p>.contents>.index-nav {
        display: none;
    }
    .modules-p>.contents>.document {
        max-width: 580px;
        width: 86%;
        margin: auto;
    }
    .modules-p>.contents>.index-nav-mobile {
        display: initial;
        position: absolute;
        width: 100%;
        height: calc(100% + 12vw);
        left: 0;
        top: -12vw;
        pointer-events: none;
    }
    .modules-p>.contents>.index-nav-mobile * {
        pointer-events: all;
    }
    .modules-p>.contents>.index-nav-mobile>.show-modal, .modules-p>.contents>.index-nav-mobile>.show-pdf {
        position: absolute;
        top: 50%;
        left: 4%;
        width: 86px;
        height: 86px;
        border-radius: 100%;
        background-image: url('./water.jpg');
        color: white;
        font-size: 20px;
        animation: showModalButtonMobileIndexer 1s;
    }
    .modules-p>.contents>.index-nav-mobile>.show-pdf {
        left: unset;
        right: 4%;
    }
    .modules-p>.pdf-viewer {
        top: 164px;
        height: 88%;
    }
    .modules-p>.hide_pdf-viewer {
        top: 110px;
    }
    @keyframes showModalButtonMobileIndexer {
        0%{opacity: 0;}
        100%{opacity: 1;}
    }
}

@media screen and (max-width: 650px) {
    .modules-p>.contents {
        height: 74vh;
        margin-top: 80px;
    }
    .modules-p>.contents>.index-nav-mobile>.show-modal, .modules-p>.contents>.index-nav-mobile>.show-pdf {
        top: -20px;
        right: 100px;
        left: unset;
    }
    .modules-p>.contents>.index-nav-mobile>.show-pdf {
        right: 2%;
    }
    .modules-p>.pdf-viewer {
        top: 160px;
    }
    .modules-p>.hide_pdf-viewer {
        top: 110px;
    }
}
@media screen and (max-width: 440px) {
    .modules-p>.contents>.document {
        width: 96%;
    }
}