.projects-p > .title {
    margin-top: 12vmin;
    padding: 1px 0;
    position: relative;
}
.projects-p > .title > h1 {
    margin: 5% 10%;
    position: relative;
    z-index: 1;
    color: white;
}