.box-c{
    position: relative;
    text-align: start;
    position: absolute;
}
.box-c.absolute {
    position: absolute;
}
.box-c.border-radius {
    border-radius: 10px;
}
.box-c.dark{
    background-color: #252525;
    color: #c8c8c8;
}
.box-c.light{
    background-color: #EFEFEF;
    color: #000000;
}