
@font-face{
  font-family: 'Lethal Slime';
  src: url("./font/Lethal\ Slime.ttf");
  font-family: 'Get Schwifty';
  src: url("./font/get_schwifty.ttf");
  font-family: 'Punkrockshow';
  src: url("./font/PunkrockshowRegular-xP4m.ttf");
  font-family: 'DigitaltsPlum';
  src: url("./font/DigitaltsPlum-1Gj32.ttf");
}

.App {
  text-align: center;
  width: 90vw;
  margin: 2vw 5vw;
  border-radius: 20px;
  box-shadow: 8px 10px 20px rgba(128, 128, 128, 0.808), -8px 10px 20px rgba(128, 128, 128, 0.808);
  position: relative;
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
