* {
  box-sizing: border-box;
}

@font-face{
  font-family: 'Lethal Slime';
  src: url("./font/Lethal\ Slime.ttf");
  font-family: 'Get Schwifty';
  src: url("./font/get_schwifty.ttf");
  font-family: 'Punkrockshow';
  src: url("./font/PunkrockshowRegular-xP4m.ttf");
  font-family: 'DigitaltsPlum';
  src: url("./font/DigitaltsPlum-1Gj32.ttf");
}

.App {
  overflow: hidden;
  width: 80vw;
  margin: 2vw auto;
  border-radius: 20px;
  position: relative;
  background-color: white;
  box-shadow: 8px 10px 20px rgba(128, 128, 128, 0.808), -8px 10px 20px rgba(128, 128, 128, 0.808);
}

@media screen and (max-aspect-ratio: 1/1) {
  .App {
    width: 90VW;
  }
}