.nav_module {
    width: 100%;
    margin-bottom: 11%;
    position: relative;
}
.nav_module>.line-hole {
    position: absolute;
    top: 50%;
    left: -7%;
    transform: translateY(-50%);
    width: 108%;
    height: 3vmin;
}
.nav_module>.card-module {
    width: 92%;
    margin-left: 0px;
    border-radius: 10px;
    padding: 14px 10px;
    padding-bottom: 10px;
    position: relative;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.nav_module>.card-module.colored {
    background-color: rgba(198, 153, 255, 1);
}
.nav_module>.card-module.colored::before {
    content: '';
    opacity: .2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: url('./water.jpg');
}
.nav_module.inverse>.card-module>.img-author, .nav_module.inverse>.card-module>h1, .nav_module.inverse>.card-module>.options {
    transform: scaleX(-1);
}
.nav_module>.card-module>.img-author {
    opacity: 0;
    position: absolute;
    bottom: 100%;
    margin: auto;
    font-size: 14px;
    text-shadow: 1px 1px white, -1px -1px white;
    pointer-events: none;
}
.nav_module>.card-module.colored:hover>.img-author {
    opacity: 1;
    pointer-events: all;
}
.nav_module>.card-module>h1 {
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 600;
}
.nav_module>.card-module.colored>h1 {
    color: white;
}
.nav_module>.card-module>hr {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}
.nav_module>.card-module.colored>hr {
    background-color: white;
}
.nav_module>.card-module>.options {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.nav_module>.card-module>.options>button {
    margin: 0 6px;
}
.nav_module>.card-module>.options>.btn-green {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-aspect-ratio: 1/1) {
    .nav_module>.card-module>h1 {
        white-space: normal;
    }
}

@media screen and (max-aspect-ratio: 911/1368) {
    .nav_module>.card-module>h1 {
        white-space: normal;
        font-size: 30px;
        font-weight: 600;
    }
}