.modal-s {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-s>.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 45 33 / 77%);
}
.modal-s>.modal {
    overflow: hidden;
    width: 80%;
    height: 90%;
    margin: auto;
    border-radius: 30px;
    padding-bottom: 50px;
    position: relative;
    top: 5%;
    background-color: white;
}
.modal-s>.modal>.background {
    width: 100%;
    height: 100%;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-clip: content-box;
}
.modal-s>.modal>.header {
    height: 280px;
    padding: 2em 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.modal-s>.modal>.header>.btn-close, .modal-s>.modal>.header>h1 {
    z-index: 1;
}
.modal-s>.modal>.header>.btn-close {
    width: 2em;
    height: 2em;
    border: none;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.modal-s>.modal>.header>.btn-close>h1 {
    color: white;
    text-shadow: 0 2px 3px black;
}
.modal-s>.modal>.header>.btn-close>h1:hover {
    color: red;
}
.modal-s>.modal>.header>.btn-close:focus-visible {
    outline: none;
}
.modal-s>.modal>.box-first-white, .modal-s>.modal>.box-second-white, .modal-s>.modal>.box-third-white {
    position: absolute;
}
.modal-s>.modal>.box-first-white {
    width: 60%;
    height: 100%;
}
.modal-s>.modal>.box-second-white {
    width: 5%;
    height: 100%;
}
.modal-s>.modal>.box-third-white {
    width: 100%;
    height: 100%;
}
.modal-s>.modal>.box-first-gray, .modal-s>.modal>.box-second-gray, .modal-s>.modal>.box-dark {
    overflow: hidden;
    width: 80%;
    height: calc(100% - 280px - 80px);
    border-radius: 30px;
    position: absolute;
}
.modal-s>.modal>.box-first-gray::after, .modal-s>.modal>.box-second-gray::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, transparent 0 33%, white 33% 38%, transparent 38% 66%, white 66% 71%, transparent 71% 100%);
}
.modal-s>.modal>.container {
    overflow: auto;
    width: 93%;
    height: calc(100% - 280px - 60px);
    margin-bottom: 60px;
    padding: 30px 0;
    border-radius: 30px;
    position: relative;
}
.modal-s>.modal>.container>.modules {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
@media screen and (max-aspect-ratio: 7/10) {
    .modal-s>.modal {
        width: 95%;
    }
    .modal-s>.modal>.header {
        padding: 4em;
        padding-top: 2em;
    }
    .modal-s>.modal>.background {
        background-size: contain;
    }
    .modal-s>.modal>.box-first-white {
        top: 0;
        left: 0;
    }
    .modal-s>.modal>.box-second-white {
        top: 0;
        left: 65%;
    }
    .modal-s>.modal>.box-third-white {
        top: 35vh;
        left: 0;
    }
    .modal-s>.modal>.box-first-gray {
        top: 320px;
        left: 3%;
    }
    .modal-s>.modal>.box-second-gray, .modal-s>.modal>.box-dark {
        top: 280px;
        left: 6%;
    }
    .modal-s>.modal>.container {
        left: 6%;
    }
}
@media screen and (min-aspect-ratio: 7/10) {
    .modal-s>.modal {
        width: 95vw;
        height: 90vh;
        border-radius: 5px;
        top: 5vh;
    }
    .modal-s>.modal>.background {
        padding: 10px;
        padding-right: 20px;
        background-size: cover;
        filter: opacity(0.8);
    }
    .modal-s>.modal>.header {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .modal-s>.modal>.header>h1 {
        height: 40%;
        padding: 0 40px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        background-color: white;
        font-size: 1.4em;
    }
    .modal-s>.modal>.header>.btn-close {
        margin-left: auto;
    }
    .modal-s>.modal>.box-first-white {
        width: 50%;
        height: 40%;
        top: 0;
        left: 0;
    }
    .modal-s>.modal>.box-second-white {
        width: 76%;
        height: 100%;
        top: 0;
        left: 12%;
    }
    .modal-s>.modal>.box-third-white {
        width: 50%;
        height: 50%;
        bottom: 0;
        right: 0;
    }
    .modal-s>.modal>.box-first-gray, .modal-s>.modal>.box-second-gray, .modal-s>.modal>.box-dark {
        width: 60%;
        height: 85%;
        border-radius: 5px;
    }
    .modal-s>.modal>.box-first-gray {
        top: 13%;
        left: 16%;
    }
    .modal-s>.modal>.box-dark {
        width: 57%;
        height: 83%;
        top: 11%;
        left: 22.5%;
    }
    .modal-s>.modal>.box-second-gray {
        top: 7%;
        left: 24%;
    }
    .modal-s>.modal>.container {
        width: 70%;
        height: 80%;
        border-radius: 10px;
        top: 10%;
        left: 30%;
    }
}
@media screen and (min-aspect-ratio: 10/6) {
    .modal-s>.modal {
        width: 130vh;
        height: 95vh;
        top: 2.5vh;
    }
    .modal-s>.modal>.header>h1 {
        padding: 0 30px;
        left: 5%;
    }
}