.nav-s {
    width: 80%;
    height: 100%;
    margin: auto;
    position: relative;
    background-color: white;
}
.nav-s.inverse {
    transform: scaleX(-1);
}
.nav-s>.background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url(./ecovillage.jpg);
    background-size: cover;
}
.nav-s>.square-hole, .nav-s>.line-hole {
    position: absolute;
    top: -10px;
}
.nav-s>.square-hole {
    left: -1px;
    width: 60%;
    height: 100%;   
}
.nav-s>.line-hole {
    right: 30%;
    width: 5%;
    height: 100%;
}
.nav-s>.list {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.nav-s>.list>.container {
    width: 100%;
    padding-top: 90px;
    position: relative;
}
.nav-s>.list>.container>.box-first-gray, .nav-s>.list>.container>.box-second-gray {
    position: absolute;
    top: 75px;
    left: -5%;
    width: 90%;
    height: 84%;
    border-radius: 10px;
    background-color: rgba(243, 243, 243, 1);
}
.nav-s>.list>.container>.box-second-gray {
    top: 85px;
    left: -10%;
}