.greeting-c{
    text-align: start;
    margin: 0 20px;
}
.greeting-c>.brand{
    margin: 20px 0;
    margin-bottom: 100px;
}
.greeting-c>.brand>.time-range{
    text-align: end;
}
.greeting-c>.brand>.title{
    margin-block-start: 10px;
    width: 65%;
}
.greeting-c>.msg{
    width: 50%;
    color: #484848;
}
@media screen and (max-width: 600px) {
    .greeting-c>.brand>.title{
        width: 100%;
    }
}
@media screen and (max-width: 410px) {
    .greeting-c{
        margin: 0;
    }
}