.summary-c {
    position: relative;
}
.summary-c > .frame {
    position: relative;
    margin-bottom: 200px;
}
.summary-c > .frame > .box-light {
    width: 24%;
    height: 52%;
    position: absolute;
    top: -10%;
    right: 0;
}
.summary-c > .frame > .box-light-2 {
    width: 36%;
    padding-top: 100px;
    position: absolute;
    right: 0;
}
.summary-c > .frame > .box-dark {
    position: absolute;
    z-index: 2;
    top: 10%;
    left: 64%;
    max-width: 340px;
    width: 44%;
    border-radius: 5px;
    background-color: #363636;
}
.summary-c > .frame > .box-white {
    max-width: 500px;
    width: 50%;
    position: absolute;
    right: 40%;
    z-index: 2;
    top: 40%;
}
.summary-c > .frame > .line-dark {
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 68%;
    left: 0;
}
.summary-c>.frame>.img {
    position: relative;
    z-index: 1;
    top: 20px;
    width: 50%;
    margin-left: 22px;
    max-height: calc(400px + 6vmin);
    height: 80vh;
    background-size: cover;
}

@media screen and (min-width:1024px) , (min-aspect-ratio:1.4/1) {
    .summary-c>.frame>.img {
        margin-left: 4%;
    }
    .summary-c > .frame > .box-light {
        top: -20%;
        height: 80%;
    }
    .summary-c > .frame > .box-light-2 {
        top: -10%;
        left: 0;    
        right: unset;
        width: 44%;
        height: 100%;
    }
    .summary-c > .frame > .box-dark {
        top: -10%;
    }
    .summary-c > .frame > .box-white {
        top: 50%;
        right: unset;
        left: 57%;
    }
    @media screen and (max-width:920px) {
        .summary-c > .frame {
            margin-bottom: 220px;
        }
        .summary-c > .frame > .line-dark {
            top: unset;
            bottom: 30%;
        }
        .summary-c > .frame > .box-light-2 {
            top: 34%;
            width: 30%;
        }
        .summary-c>.frame>.img {
            width: 60%;
            margin-left: 2%;
        }
        .summary-c > .frame > .box-dark, .summary-c > .frame > .box-white {
            left: unset;
            right: 2%;
            max-width: unset;
            width: 58%;
        }
        .summary-c > .frame > .box-dark {
            width: 40%;
        }
        .summary-c > .frame > .box-white h1 {
            font-size: 26px;
        }
        .summary-c > .frame > .box-white {
            min-width: 476px;
        }
        @media screen and (min-aspect-ratio:2/2) {
            .summary-c > .frame > .box-white {
                top: 80%;
            }   
        }
    }
    @media screen and (max-width:700px) {
        .summary-c > .frame > .line-dark {
            bottom: 26%;
        }
        .summary-c > .frame > .box-light {
            top: -24%;
        }
        .summary-c > .frame > .box-dark {
            top: -12%;
        }
        .summary-c>.frame>.img {
            width: 70%;
            margin-left: 1%;
        }
        .summary-c > .frame > .box-white, .summary-c > .frame > .box-dark {
            right: 1%;
            min-width: 292px;
        }
        .summary-c > .frame > .box-white {
            min-width: 594px;
        }
        
    }
    @media screen and (max-width: 640px) {
        .summary-c > .frame > .line-dark {
            bottom: 16%;
        }
        .summary-c > .frame > .box-white {
            min-width: unset;
            max-width: 480px;
            width: 98%;
        }
    }

    @media screen and (max-height:400px) {
        .summary-c>.frame>.img {
            height: 100vh;
        }
        .summary-c > .frame > .box-light-2 {
            top: 110%;
            height: 100px;
        }
    }
    @media screen and (max-height: 370px) {
        .summary-c > .frame > .box-light-2 {
            top: 130%;
            width: 200px;
        }
        .summary-c > .frame > .box-dark {
            width: 48%;
        }
        .summary-c > .frame > .box-white {
            top: 90%;
        }
        .summary-c > .frame {
            margin-bottom: 260px;
        }  
    }
    
}
@media screen and (max-aspect-ratio:1.4/1) {
    
    
    @media screen and (max-width:917px) {
        .summary-c > .frame > .box-light {
            width: 15%;
            height: 30%;
        }
        .summary-c > .frame > .box-light-2 {
            top: calc(480px + 4vmin - 170px);
            width: 40%;
        }
        .summary-c > .frame > .box-dark {
            right: 1%;
            left: unset;
        }
        .summary-c > .frame > .box-white {
            right: unset;
            left: 2%;
        }
        .summary-c>.frame>.img {
            width: 70%;
            height: calc(400px + 4vmin);
            margin-left: 10%;
            top: -60px;
        }
    }
    @media screen and (max-width:860px) {    
        .summary-c > .frame {
            margin-bottom: 280px;
        }
        .summary-c>.frame>.img {
            height: unset;
            margin-bottom: 80px;
            margin-left: 1%;
            padding-top: 46%;
        }    
        .summary-c > .frame > .box-dark {
            right: 1%;
            width: 36%;
        }
        .summary-c > .frame > .box-white {
            top: 60%;
            width: 58%;
        }
        .summary-c > .frame > .line-dark {
            top: unset;
            bottom: -20%;
        }
        .summary-c > .frame > .box-light-2 {
            top: calc(480px + 4vmin - 140px);
            right: 10%;
            width: 70%;
            padding-top: 120px;
        }
    }
    @media screen and (max-width:749px) {
        .summary-c > .frame {
            margin-bottom: 340px;
        }
        .summary-c>.frame>.img {
            top: 100px;
            width: 98%;
        }
        .summary-c > .frame > .box-light {
            width: 56%;
            height: 36%;
        }
        .summary-c > .frame > .box-dark {
            top: 0;
            width: 50%;
        }
        .summary-c > .frame > .box-white {
            top: unset;
            bottom: -240px;
            width: 90%;
        }
        .summary-c > .frame > .line-dark {
            bottom: -160px;
        }
        .summary-c > .frame > .box-light-2 {
            bottom: -220px;
            right: 0;
            width: 20%;
            padding-top: 20px;
        }
    } 
    @media screen and (max-width:659px) {
        .summary-c > .frame {
            margin-bottom: 400px;
        }
        .summary-c>.frame>.img {
            top: 180px;
            padding-top: 50%;
        }
        .summary-c > .frame > .box-light {
            width: 66%;
            height: 50%;
        }
        .summary-c > .frame > .box-dark {
            width: 60%;
        }
        .summary-c > .frame > .line-dark {
            bottom: -260px;
        }
        .summary-c > .frame > .box-light-2 {
            bottom: -300px;
        }
        .summary-c > .frame > .box-white {
            bottom: -320px;
        }
    }
    @media screen and (max-width:659px) {
        .summary-c > .frame {
            margin-bottom: 460px;
        }
        .summary-c>.frame>.img {
            top: 160px;
            width: 100%;
            margin-left: 0;
            padding-top: 60%;
        }
        .summary-c > .frame > .box-light {
            width: 80%;
            height: 50%;
        }
        .summary-c > .frame > .box-dark {
            width: 68%;
        }
        .summary-c > .frame > .line-dark {
            bottom: -300px;
        }
        .summary-c > .frame > .box-light {
            top: 10%;
            width: 100%;
            height: unset;
            filter: brightness(.2);
        }
        .summary-c > .frame > .box-light-2 {
            top: -10%;
            right: 0;
            bottom: unset;
            width: 74%;
            height: 50%;
        }
        .summary-c > .frame > .box-white {
            left: 3%;
            bottom: -340px;
            width: 94.6%;
        }
    }
    @media screen and (max-width:448px) {
        .summary-c>.frame>.img {
            padding-top: 80%;
        }
        .summary-c > .frame > .box-light-2 {
            width: 94%;
            height: 60%;
        }    
        .summary-c > .frame > .box-dark {
            width: 88%;
        }
        .summary-c > .frame > .box-white {
            bottom: -380px;
        }
    }
    @media screen and (max-width:369px) {
        .summary-c>.frame>.img {
            padding-top: 100%;
        }
        .summary-c > .frame > .box-light {
            display: none;
        }
        .summary-c > .frame > .box-light-2 {
            width: 100%;
            height: 60%;
        }  
        .summary-c > .frame > .box-white h1 {
            text-align: center;
            font-size: 30px;
        }
        .summary-c > .frame > .box-dark, .summary-c > .frame > .box-white {  
            font-size: 20px;
        }
        .summary-c > .frame > .box-dark {
            width: 96%;
            right: 2%;
        }
        .summary-c > .frame > .box-white {
            width: 98%;
            left: 1%;
            bottom: -380px;
        }
    }
}